#add-td td{
    background: rgb(14, 165, 233) none repeat scroll 0% 0%;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;

}

#add-td td a{
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
    display: block;
    padding: 0;
}
table td button {
    background: none;
    border: none;
}
.td-tools *{
    float: left;
    margin: 0 2px;
}
